@page "/users"
    
    @using Microsoft.Extensions.Configuration
    @using DataLibrary
    @using CMPG_323_Project_2.Models
    @inject IDataAccess _data
    @inject IConfiguration _config

<h3>Users</h3>

        @if(users == null)
         {
             <p><em>Loading... </em></p>
         }
         else
         {
              @foreach (var u in users)
                {
                 <p>
                 @u.Username @u.Password
                 </p>
                }
         }

@code {     
    List<UsersModel> users;
    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from useraccount";
        users = await _data.LoadData<UsersModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
 