@page "/users"

@using Microsoft.Extensions.Configuration
@using DataLibrary
@using CMPG_323_Project_2.Models
@inject IDataAccess _data
@inject IConfiguration _config
@inject NavigationManager Nav

<h3>Users</h3>
@if (show)
{

    <h1>IT WORKS!!!!!!</h1>
}



@if (users == null)
{
    <p><em>Loading... </em></p>
}
else
{
    @foreach (var u in users)
    {
        <p>
            @u.Username @u.Password
        </p>


    }
}
   

    <button type="submit" @onclick ="Itworks"> Test</button>


        @code {
            UsersModel user = new UsersModel();


            List<UsersModel> users;
            protected override async Task OnInitializedAsync()
            {
                string sql = "select * from useraccount";
                users = await _data.LoadData<UsersModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
            }

            private bool show = false;
            private void Itworks()
            {
                foreach(var u in users)
                {
                    if (u.Username == "Francois")
                    {
                        show = true;
                    }
                }

            }

            }

        }
